{% extends 'layout.html' %}

{% block title %} chat {% endblock %}

{%block head%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ url_for('static',filename='index.js')}}"></script>

    <div class="d-flex  h-100">
        <div class="w-25 h-100 border-right">
            <h3 class="welcome  p-3"> welcome {{name}} :) </h3>
            <h5 class="p-3">users are online:</h5>

            <div class="users_online">
                
                
            </div>
        </div>


        <div id="chat" class="chat flex-fill w-75 h-100 ">
            <div class="chat-head border d-flex justify-content-around rounded"> 
                    <p class="chaneel-p  p-3 ">{{chaneel}} chaneel</p>
                    <button id="leave" class="leave btn btn-default bg-info">Leave</button>
            </div>  
            <div id="chatArea" style="overflow: scroll;">
                
                

            </div>


            <div class="d-flex  w-100 ">
                <div class="write align-self-end w-100">
                    <form id="form">
                        <div class="form-group p-3 m-2">
                            <input id="massage" class="form-control" placeholder="Type a Massage">
                        </div>

                    </form>

                </div>
                
            </div>
            
        </div>
        

    </div>
    
{% endblock %}